//Colors
$orange: "#ff6d00";
$light-orange: "#ffa969";

// white
$white-color: #ffffff;
$white-smoke: #f9f9f9;
$white-color-1: #fdfdfd;
$gainsboro-white: #e6e6e6;
$gainsboro-white-2: #fff0e5;
$lilly-white: #e8efef;

// black
$black-color: #000000;
$night-rider: #333333;
$silver-color: #bdbdbd;

// grey
$trout-grey: #495057;
$nobel-grey: #999999;
$very-light-grey: #cccccc;
$w-grey: #f2eeed;
$dark-grey-color: #ddd;

//red
$red: "#ffa969";
$light-red: "#f44336";
